<!DOCTYPE html>
<html lang="es" ng-app="calendarDemoApp" id="top">
<head>
   <meta charset="UTF-8">
   <title>AngularUI Calendar for AngularJS</title>
   <link rel="icon" href="favicon.ico"/>
   <link rel="stylesheet" href="../bower_components/bootstrap-css/css/bootstrap.css"/>
   <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css">
   <link rel="stylesheet" href="calendarDemo.css"/>
</head>
<body data-spy="scroll">
<div role="main">
   <div class="container">
      <section id="directives-calendar" ng-controller="CalendarCtrl">
         <div class="well">
            <div class="row-fluid">
               <div class="span4">
                  <h3>What?</h3>

                  <p>Attach Angular objects to a calendar.</p>

                  <p>Show the data binding between two different calendars using the same event sources.</p>

                  <h3>Why?</h3>

                  <p>Why Not?</p>
                  <div>
                     <button ng-click="handleAuthClick()" style="visibility: hidden">Authorize</button>

                  </div>

                  <div class="btn-group calTools">
                     <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                        Toggle Source
                     </button>
                     <button type="button" class="btn btn-primary" ng-click="'addEvent()'">
                        Add Event
                     </button>
                  </div>

                  <ul class="unstyled">
                     <li ng-repeat="e in events">
                        <div class="alert alert-info">
                           <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
                           <strong> <input ng-model="e.title"></strong>
                           {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                        </div>
                     </li>
                  </ul>

               </div>
               <div class="span8">
                  <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                     <h4>{{alertMessage}}</h4>
                  </div>
                  <div class="btn-toolbar">
                     <p class="pull-right lead">Opciones de vista de calendario</p>
                     <div class="btn-group">
                        <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar')">Día</button>
                        <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar')">Semana</button>
                        <button class="btn btn-success" ng-click="changeView('month', 'myCalendar')">Mes</button>
                     </div>
                  </div>
               <div class="calendar" calendar="myCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/angular/angular.js"></script>
   <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
   <script src="../bower_components/moment/moment.js"></script>
   <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
   <script src="../bower_components/fullcalendar/dist/gcal.js"></script>
   <script src="../src/calendar.js"></script>
   <script src="calendarDemo.js"></script>
   <script type="text/javascript" src="../bower_components/fullcalendar/dist/lang-all.js"></script>

</body>
</html>
