<!DOCTYPE html>
<html lang="es" ng-app="calendarDemoApp" id="top">
<head>
   <meta charset="UTF-8">
   <title>AngularUI Calendar for AngularJS</title>
   <link rel="icon" href="../favicon.ico"/>
   <link rel="stylesheet" href="../../bower_components/bootstrap-css/css/bootstrap.css"/>
   <link rel="stylesheet" href="../../bower_components/fullcalendar/dist/fullcalendar.css">
   <link rel="stylesheet" href="calendarDemo.css"/>
</head>
<body data-spy="scroll">
<div role="main">
   <div class="container">
      <section id="directives-calendar" ng-controller="CalendarCtrl">
         <div class="well">

            <div>
               <button ng-click="handleAuthClick()">Authorize</button>
            </div>

            <div class="calendar" calendar="myCalendar" ui-calendar="uiConfig.calendar"
                 ng-model="eventSources">
            </div>

         </div>
      </section>
   </div>
</div>
<script src="https://apis.google.com/js/client.js"></script>
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../../bower_components/angular/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="../../bower_components/moment/moment.js"></script>
<script src="../../bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="../../bower_components/fullcalendar/dist/gcal.js"></script>
<script src="../../src/calendar.js"></script>
<script src="calendarEjemplo3.js"></script>
<script type="text/javascript" src="../../bower_components/fullcalendar/dist/lang-all.js"></script>

</body>
</html>
